* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;

}

input[type=submit] {
    width: 60px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 50px;
}

hr {
    width: 80%;
}

article form button {
    width: 30px;
    padding: 15px 10px;
    background-color: #a61f16;
    color: white;
}